.wordle-puzzle-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.wordle-letter-row {
  display: flex;
}

.wordle-letter-cell {
  border: 2px solid #d3d6da;
  width: 50px;
  height: 50px;
  margin: 4px 4px 0 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.wordle-letter-cell.noMatch {
  border: 2px solid #787c7e;
  background-color: #787c7e;
  color: #ffffff;
}

.wordle-letter-cell.semiMatch {
  border: 2px solid #c9b458;
  background-color: #c9b458;
  color: #ffffff;
}

.wordle-letter-cell.perfectMatch {
  border: 2px solid #6aaa64;
  background-color: #6aaa64;
  color: #ffffff;
}

.wordle-keyboard-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.wordle-key-row {
  display: flex;
}

@media only screen and (max-width: 375px) {
  .wordle-key-cell {
    min-width: 15px;
  }
}

@media only screen and (min-width: 375px) and (max-width: 390px) {
  .wordle-key-cell {
    min-width: 22px;
  }
}

@media only screen and (min-width: 390px) and (max-width: 425px) {
  .wordle-key-cell {
    min-width: 25px;
  }
}

@media only screen and (min-width: 425px) and (max-width: 767px)  {
  .wordle-key-cell {
    min-width: 30px;
  }
}

@media only screen and (min-width: 768px)  {
  .wordle-key-cell {
    min-width: 50px;
  }
}

.wordle-key-cell {
  border-radius: 4px;
  height: 50px;
  margin: 4px 4px 0 0;
  padding: 4px;
  background: #d3d6da;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.wordle-key-cell:hover, .wordle-key-cell.noMatch {
  background-color: #787c7e;
  color: #ffffff;
}

.wordle-key-cell.semiMatch {
  background-color: #c9b458;
  color: #ffffff;
}

.wordle-key-cell.perfectMatch {
  background-color: #6aaa64;
  color: #ffffff;
}
